<jumbo></jumbo>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Drag your chosen categories from here</h2>
            </div>
            <div class="panel-body" [dragula]="'first-bag'">
                <ul class="list-group" *ngFor="#category of categories">
                    <li class="list-group-item">{{category.name}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title">Drop your chosen categories here</h2>
            </div>
            <div class="panel-body" [dragula]="'first-bag'">
            </div>
        </div>
    </div>
</div>

<div class="row">
       <div class="col-md-2">
        <button (click)="onPussyOutClick()" class="btn btn-primary btn-lg">Pussy out...</button>
    </div>
    <div class="col-md-6 col-md-offset-4">
        <button (click)="onFightClick()" class="btn btn-success btn-lg">Fight!</button>
    </div>
</div>