<div class="container-fluid">
    <div class="row vertical-center">
        <div class="col-xs-4 col-md-4">
            <a href="#" (click)="onVsCodeClick()" class="thumbnail main-logo">
                <img src="./assets/images/visual-studio-code.svg" alt="...">
                <div class="caption">
                    <center>
                        <h3>Discover ancient secrets of VS Code</h3>
                    </center>
                </div>
            </a>
        </div>
        <div class="col-xs-4 col-md-4">
            <a (click)="onVisualStudioClick()" class="thumbnail text-center main-logo">
                <img src="./assets/images/visual-studio.svg" alt="...">
                <div class="caption">
                    <center>
                        <h3>Become Visual Studio Bonjwa</h3></center>
                </div>
            </a>
        </div>
        <div class="col-xs-4 col-md-4">
            <a href="#" (click)="onIntellijClick()" class="thumbnail main-logo">
                <img src="./assets/images/intellij.svg" alt="...">

                <div class="caption">
                    <center>
                        <h3> Aquire power of Intellijitsu</h3></center>
                </div>
            </a>
        </div>
    </div>
</div>